# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
env/

# Data (Tránh đẩy dữ liệu test lên GitHub)
students_data.json

# IDEs
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml

.DS_Store
Thumbs.db